* {
    font-family: Roboto, Arial, sans-serif;
}

.danmaku-comment {
    position: absolute;
    pointer-events: all;
    white-space: nowrap;
    font-family: Roboto, Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    z-index: 20;
    line-height: 1;
    will-change: transform; /* Hint to the browser for optimization */
}

/* Base animation properties */
.danmaku-animation-slide {
    animation-duration: var(--danmaku-duration, 7s);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.danmaku-animation-center {
    left: 50%;
    transform: translateX(-50%);
}

.iridescent-effect-3 {
    background: radial-gradient(
        circle at 20% 80%,
        #e6e6fa 5%,
        #add8e6 15%,
        #90ee90 25%,
        #ffe4e1 35%,
        #d8bfd8 45%,
        #e6e6fa 55%
    );
    background-size: 200% 200%;
    animation: moveGradient 5s infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@keyframes moveGradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.iridescent-effect-4 {
    background-color: #333;
    background-image: linear-gradient(45deg, #00f, #f0f),
        linear-gradient(-45deg, #0f0, #ff0);
    background-size: 150% 150%;
    background-position: 0 0;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    animation: animateIridescence 10s infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@keyframes animateIridescence {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.danmaku-popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    /* margin: 8px; */
    padding: 5px;
    display: none;
    z-index: 999;
    gap: 5px;
    transform: translateX(-50%);
}

.danmaku-popup-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.danmaku-popup-button svg {
    width: 16px;
    height: 16px;
    stroke: white;
}